<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger text-center">
        <h4 class="mb-3">Membership Suspended</h4>
        <p>Your membership for this organization has been suspended by an admin.</p>
        <p>You need an active membership to access this organization.</p>
        <%= link_to 'Back to Organizations', organizations_path, class: 'btn btn-outline-secondary mt-3' %>
      </div>
    </div>
  </div>
</div> 