<div class="container mt-5">
  <div class="alert alert-success">
    <%= flash[:notice] || 'Consent approved.' %>
  </div>
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
</div>
